body {
    margin: 0;
    padding-top: 0px;
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color:#ffffff ; 
    color: #0693e3;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: sticky; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}
.ten {
    font-size: 24px;
    margin-left: 100px;
} 
.DN {
    padding: 10px 14px; 
    font-weight: bold;
    color: #0693e3;
    border-style:solid;
    border-color:#0693e3 ;
    border-radius: 20px;
    margin-top: -50px; 
    margin-right: 170px; 
    float: right; 
    text-decoration: none; 
}
.DK {
    padding: 10px 22px; 
    font-weight: bold;
    color: #0693e3;
    border-style:solid;
    border-color:#0693e3 ;
    border-radius: 20px;
    margin-top: -50px; 
    margin-right: 50px; 
    float: right; 
    text-decoration: none; 
}
.DN:hover {
    color: #ffffff;
    background-color:#0693e3;
}
.DK:hover {
    color: #ffffff;
    background-color:#0693e3;
}
.menu1 {
    font-weight: bold;
    display: none;
    position:  absolute;
    background-color: #0693e3 ;
    top: 29px; 
    left: -100px;
    padding: 10px 0;
    border-radius: 15px; 
    z-index: 999;
    width: 700px;
}
#Menu li:hover .menu1 {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.menu1 a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    width: calc(40% - 10px);
}
nav ul {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    background: white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #0693e3 ; 
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    border-radius: 10px;
    background-color: #16eed1;
}
.footer {
    background: #2B4B67;
    height: 70px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
  
}
.footer{
    position: relative;
    
}

