form {
    max-width: 1000px; 
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-item {
    font-size: 24px;
    padding-left: 0px;
    margin: auto 16px;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 30px; 
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #e9e6e6;
}

table tr:last-child td {
    border-bottom: none;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: calc(100% - 18px);
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.7; /* Đặt mức độ mờ của ô input */
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    opacity: 1; /* Không làm mờ khi focus */
}

button {
    background-color: #0693e3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0693e3;
}

select {
    width: calc(100% - 18px); /* Thiết lập chiều rộng */
    padding: 8px; /* Khoảng đệm */
    margin: 4px 0; /* Khoảng cách với các thành phần khác */
    box-sizing: border-box;
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 4px; /* Độ cong góc */
    background-color: #fff; /* Màu nền */
    color: #555; /* Màu chữ */
}

/* Thiết lập các hiệu ứng khi focus */
select:focus {
    border-color: #66afe9; /* Đổi màu viền khi focus */
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); /* Đổ bóng khi focus */
}
