header {
    background-color: #2196f3;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px auto;
    width: 80%;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #1769aa;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1769aa;
}

.edit-link {
    text-decoration: none;
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.edit-link:hover {
    background-color: #1769aa;
}

input[name="btn_timkiem"] {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

input[name="btn_timkiem"]:hover {
    background-color: #1769aa;
}
